<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<meta name="description" content="">
	<meta name="keywords" content="">
	<meta name="author" content="">

	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
	<link rel="stylesheet" href="../libs/jquery/jquery.modal.min.css">

	<link rel="stylesheet" href="../libs/tippy/tippy.css">
	<link rel="stylesheet" href="../libs/tippy/backdrop.css">

	<link rel="stylesheet" href="style.css">
	<link rel="stylesheet" href="../libs/primsjs/prism.css">
	<title>Document</title>
</head>
<body>

<article>
	<h1>M Theory</h1>
	<a href="https://www.google.com" class="confirm">Hoi123</a>
	<p>In <a href="#ex1" rel="modal:open" class="tip">theoretical</a> <abbr id="tipPhys" data-tippy-content="hello" tabindex="0">physics</abbr>, <a href="#">M-theory</a> is <del>a</del> <ins>an</ins> extension of string theory in which 11 dimensions of spacetime are identified as 7 higher-dimensions plus the 4 common dimensions (11D st = 7 hd + 4D). Proponents believe that the 11-dimensional theory unites all five 10 dimensional string theories (10D st = 6 hd + 4D) and supersedes them. Though a full description of the theory is not known, the low-entropy dynamics are known to be supergravity interacting with 2- and 5-dimensional membranes.</p>

<pre>
<code class="language-js line-numbers match-braces" data-prismjs-copy="Copy Code">console.log("Hello World");
const hello = "hoi";
function helo(Hoi) {
	helloworld.heloo();
}
helo();
// Comment mayn!</code>
</pre>

	<p>This idea is the unique supersymmetric theory in 11 dimensions (11D), with its low-entropy matter content and interactions fully determined, and can be obtained as the strong coupling limit of type IIA string theory because a new dimension of space emerges as the coupling constant increases.</p>
	<p><img data-enlargeable src="https://upload.wikimedia.org/wikipedia/commons/thumb/f/f3/Calabi_yau.jpg/230px-Calabi_yau.jpg"></p>
	<p>Drawing on the work of a number of string theorists (including Ashoke Sen, Chris Hull, Paul Townsend, Michael Duff and John Schwarz), Edward Witten of the Institute for Advanced Study suggested its existence at a conference at USC in 1995, and used M-theory to explain a number of previously observed dualities, initiating a flurry of new research in string theory called the second superstring revolution.</p>
	<p>In the early 1990s, it was shown that the various superstring theories were related by dualities which allow the description of an object in one super string theory to be related to the description of a different object in another super string theory. These relationships imply that each of the super string theories is a different aspect of a single underlying theory, proposed by Witten, and named "M-theory".</p>
	<p id="time1" class="post-end clearfix">1 week ago</p>
</article>

<div id="ex1" class="modal">
	<p>Thanks for clicking. That felt good.</p>
	<a href="#" rel="modal:close">Close</a>
</div>

<hr>

<footer>    
	<div class="icons">
		<a href="https://www.youtube.com/channel/UCVmQpp6Ah3s6JnbBvA5Nh7A?sub_confirmation=1"> <i class="fab fa-youtube"></i></a>
		<a href="https://www.github.com/Devlopr69"> <i class="fab fa-github"></i></a>
		<a href="https://www.instagram.com/Devlopr69"> <i class="fab fa-instagram"></i></a>
		<a href="https://t.me/Devlopr69"> <i class="fab fa-telegram"></i></a>
		<a onclick="alert('Blog currently under development!')"> <i class="fab fa-blogger"></i></a>
	</div>

	<p class="txt-cntr">copyright &copy; devlopr.ml</p>
</footer>

<script src="../libs/jquery/jquery.min.js"></script>
<script src="../libs/moment-with-locales.min.js"></script>
<script src="../libs/jquery/jquery.modal.min.js"></script>

<script src="../libs/tippy/popper.min.js"></script>
<script src="../libs/tippy/tippy-bundle.umd.min.js"></script>
<script src="../libs/primsjs/prism.js"></script>
<script src="main.js"></script>

</body>
</html>