#themeSelector {
	position: fixed;
	bottom: 5px;
	left: 5px;
}

.date {
	margin-bottom: 30px;
	margin-top: -8px;
	display: inline-block;
}

.updated {
	display:inline-block;
	font-style: italic;
}
.updated:before { content: " ("; }
.updated:after { content: ")"; }

.posts .post_title:before {
	content: "- ";
}

html {
	overflow-y: scroll;
}

body {
	margin: 60px auto;
	margin-bottom: 160px;
	max-width: 750px;
	line-height: 1.62;
	font-family: 'Inconsolata', monospace;
	background: #000000;
	color: #E8E8E8;
	padding:0 30px;
}

.light hr {
	border-top: 1px solid #000;
}

.dark hr {
	border-top: 1px solid #FFF;
}

.codeblock {
	font-family: 'Inconsolata', monospace;
	font-weight: bold;
	padding: 1ch 2ch;
}

.light .codeblock {
	border-left: 2px solid #00aeff;
	background: #222222;
	color: #fff;
	padding: 24px;
}

.dark .codeblock {
	border-left: 2px solid #FFFFFF;
	background: #222222;
	color: #E8E8E8;
	padding: 24px;
}

code {
	font-family: 'Inconsolata', monospace;
	font-weight: bold;
	padding: 5px;
}

.light code {
	background-color: #CCC;
	color: #000;
}

.dark code {
	background-color: #222222;
	color: #FFF;
}

h1, h2, h3 {
	line-height:1.2;
	padding-top: 18px;
	margin-bottom: 10px;
	font-weight: normal;
}

a {
	color: #E8E8E8;
	text-decoration: none;
	border-bottom: 1px solid #000;
}

a:hover {
	padding: 4px;
	margin: -4px;
	color: #000000;
	background: #E8E8E8;
	text-decoration: none;
}

ul {
	list-style: none;
	margin: 0;
	padding-left: 19px;
}

ul li:before {
	content: "- ";
	margin-left: -2ch;
	width: 2ch;
	display: inline-block;
}

img {
	margin: 0 auto;
	display: block;
	max-width: 100%;
	height: auto;
}

.sections {
	counter-reset: ol-counter;
	list-style: none;
	margin: 0;
	padding: 0;
}

.section_item:before {
	counter-increment: ol-counter;
	content: "0" counter(ol-counter) ". ";
}

body::-webkit-scrollbar {
	width: 1em;
}

body::-webkit-scrollbar-thumb {
	border-right: 8px solid #ccc;
}

body::-webkit-scrollbar-thumb:hover {
	border-right: 8px solid #aaa;
}
