@import url(http://fonts.googleapis.com/css?family=Noto+Sans);
* { font-family: 'Noto Sans' !important; }
html, body { height: 100%; margin: 0; background: #121212; overflow: hidden; }

#loader { height: 100%; width: 100%; }

.loader {
	display: inline-block; z-index: 99999999;
	width: 80px; height: 80px;
	position: absolute; top: 50%; left: 50%;
	transform: translate(-50%, -50%);
}

.loader:after {
	content: " "; display: block; width: 64px; height: 64px; margin: 8px;
	border-radius: 50%; border: 6px solid #fff; border-color: #fff transparent #fff transparent;
	animation: loaderAnim 1.2s linear infinite;
}

@keyframes loaderAnim {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
}