@import "/lib/hljs-11.9.0/default.min.css";
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

* {
	box-sizing: border-box;
	font-smooth: never;
	font-kerning: normal;
	font-feature-settings: kern;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	scroll-behavior: smooth;
	font-family: "Roboto Mono", monospace;
	tab-size: 2;
}

html, html.force-light {
	--bg: #FFFFE3;
	--fg: #000;
	--dim: #777;
}

@media (prefers-color-scheme: dark) {
	html {
		--fg: #FFFFE3;
		--bg: #181714;
		--dim: #8E8E7B;
	}
}

html.force-dark {
	--fg: #FFFFE3;
	--bg: #181714;
	--dim: #8E8E7B;
}

body {
	margin: 0 auto;
	max-width: 65ch;
	color: var(--fg);
	background: var(--bg);
	font-size: 100%;
	line-height: 1.5;
}

h1 {
	border-bottom: 1px solid var(--fg);
	padding-bottom: 0.5rem;
}
h2, h3, h4, h5, h6 {
	text-decoration: underline;
	text-decoration-color: var(--fg);
	text-underline-offset: 0.5rem;
}
h1, h2, h3, h4, h5, h6 {
	font-size: 1.1rem;
	font-weight: normal;
}
h1:before { content: "# "; }
h2:before { content: "## "; }
h3:before { content: "### "; }
h4:before { content: "#### "; }
h5:before { content: "##### "; }
h6:before { content: "###### "; }

ul, ol {
	line-height: 1.75;
}

a {
	color: inherit;
	text-decoration: underline;
	text-underline-offset: 0.25rem;
}
a:hover {
	text-decoration: none;
}

pre {
	padding: 0.5rem;
}

code:not(pre code) {
	line-height: 2;
	padding: 0.075rem 0.25rem;
}

pre, code:not(pre code) {
	overflow: auto;
	border: 1px solid var(--dim);
}

hr {
	margin-top: 1.5rem;
	border-top: 1px solid var(--fg);
}

blockquote {
	margin: 0 1rem;
	padding: 0.5rem;
	border-left: 1px solid var(--dim);
}

blockquote p {
	margin: 0;
}

img, iframe {
	display: block;
	margin: 0 auto;
	max-width: 100%;
}

.hljs-ln-numbers {
	user-select: none;
	text-align: right;
	vertical-align: top;
	padding-right: 0.5rem !important;
	color: var(--dim);
	border-right: 1px solid var(--dim);
}
.hljs-ln-code {
	white-space: pre;
	padding-left: 0.5rem !important;
	padding-right: 0.5rem !important;
}

table:not(.hljs-ln) {
	border-collapse: collapse;
	margin: 1rem auto 0 auto;
}
table:not(.hljs-ln) th,
table:not(.hljs-ln) td {
	padding: 0.2rem 1rem;
}
table:not(.hljs-ln) tr:not(:last-of-type),
table:not(.hljs-ln) tr:first-of-type {
	border-bottom: 1px solid var(--dim) !important;
}
table:not(.hljs-ln) tr th:not(:last-of-type),
table:not(.hljs-ln) tr td:not(:last-of-type) {
	border-right: 1px solid var(--dim);
}

body > header {
	margin: 0.75rem 0;
	margin-bottom: 1.5rem;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	font-size: 0.9rem;
	text-transform: uppercase;
}

body > header > nav {
	display: flex;
	flex-direction: row;
	height: 100%; /* Stop from taking more vertical space than required */
	gap: 1ch;
}

body > header > nav select {
	margin-top: 0.15rem;
	outline: none;
	border: none;
	background: none;
	color: var(--fg);
	border: 1px solid var(--dim);
}

body > header > div {
	display: flex;
	flex-direction: column;
	align-items: end;
}

body > header > div time:empty {
	display: none;
}

body > header > div time.modified_on:before {
	content: "Updated: "
}
body > header > div time.modified_on:after {
	content: "";
}
