@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');

* { padding: 0; margin: 0; box-sizing: border-box; user-select: none; }

html, body {
	height: 100%; width: 100%;
	font-family: 'Abel', sans-serif;
	margin: 0; background-color: #36b8f4;
}

.container {
	width: 330px; height: 520px; background-color: #121212; color: #fff;
	position: absolute; transform: translate(-50%, -50%); left: 50%; top: 50%;
	font-size: 1.3em; text-align: left; white-space: nowrap;
}

.holder { margin-left: 20px; }
.btn { text-align: center; }
.btn button {
	background: #313131; color: #fff; padding: 5px; border-radius: 5px;
	outline: none; border: none; margin-top: 10px; font-size: .8em; cursor: pointer;
}

h1, h2, h3, h4, h5, h6, p, span, div {
	margin: 5px auto;
	overflow: hidden;
	white-space:nowrap;
	text-overflow: ellipsis;
}

.profile {
	display: block; margin-left: auto; margin-right: auto;
	margin-top: 2em; max-width: 10em;
	border-radius: 50%; border: .5em solid #313131;
	background-color: #313131; margin-bottom: 20px;
}