@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');

* { padding: 0; margin: 0; box-sizing: border-box; user-select: none; }

html, body {
	height: 100%; width: 100%;
	font-family: 'Abel', sans-serif;
	margin: 0; background-color: #36b8f4;
}

.container {
	width: 330px; height: 530px; background-color: #121212; color: #fff;
	position: absolute; transform: translate(-50%, -50%); left: 50%; top: 50%;
	font-size: 1.3em; text-align: left; white-space: nowrap;
}

.holder { margin-left: 20px; }
.btn { text-align: center; }
.btn button {
	background: #313131; color: #fff; padding: 5px; border-radius: 5px;
	outline: none; border: none; margin-top: 10px; font-size: .8em; cursor: pointer;
}

h1, h2, h3, h4, h5, h6, p, span, div {
	margin: 5px auto;
	overflow: hidden;
	white-space:nowrap;
	text-overflow: ellipsis;
}

.profile {
	display: block; margin-left: auto; margin-right: auto;
	margin-top: 1em; max-width: 10em;
	border-radius: 50%; border: .5em solid #313131;
	background-color: #313131; margin-bottom: 20px;
}

.lds-ring {
	display: block; margin-left: auto; margin-right: auto;
	margin-top: 200px; max-width: 10em;
	border-radius: 50%; width: 80px; height: 80px;
}

.lds-ring div {
	box-sizing: border-box;
	display: block;
	position: absolute;
	width: 64px;
	height: 64px;
	margin: 8px;
	border: 8px solid #fff;
	border-radius: 50%;
	animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
	border-color: #fff transparent transparent transparent;
}

.lds-ring div:nth-child(1) { animation-delay: -0.45s; }
.lds-ring div:nth-child(2) { animation-delay: -0.3s; }
.lds-ring div:nth-child(3) { animation-delay: -0.15s; }
@keyframes lds-ring { 0% { transform: rotate(0deg); } 100% { transform: rotate(360deg); } }