@font-face { font-family: "UMono"; src: url("../fonts/ubuntuMono/UbuntuMono-Regular.ttf"); }
@font-face { font-family: "UMono"; src: url("../fonts/ubuntuMono/UbuntuMono-Bold.ttf"); font-weight: bold; }
@font-face { font-family: "UMono"; src: url("../fonts/ubuntuMono/UbuntuMono-Italic.ttf"); font-style: italic; }
@font-face { font-family: "UMono"; src: url("../fonts/ubuntuMono/UbuntuMono-BoldItalic.ttf"); font-style: italic; font-weight: bold; }

* { font-family: "UMono"; }

html body { background-color: #262626; }

#intro { margin-top: 10em; }
@media (max-width: 991px) { #intro { margin-top: 5em; } }

hr { height: 1px; border: 0; border-top: .2em solid #efefef; padding: 0; }

.profileIMG {
	height: 256px; width: 256px; margin-bottom: 2em;

	background-color: #121212; background-image: url('profile.jpg');
	background-position: center; background-repeat: no-repeat; background-size: 80px;

	border-radius: 50%; border: 0.4em solid rgb(255, 255, 255);
	box-shadow: 0 0 1.2em rgb(0, 183, 255); transition: 0.3s ease; }

.profileIMG:hover { border-color: #121212; height: 300px; width: 300px;}

.icons { margin-top: 1.5em; margin-bottom: 2em; }
.icons i { margin-left: 10px; font-size: 20px;
    transition: 0.3s; color: #00aeff; border-radius: 10%; }

.ytbe {margin-left: 0;}
.ytbe, .gthb, .istgrm, .tlgrm, .blggr {
    padding:0.7em 0.65em; -o-transition:.5s; -ms-transition:.5s;
    -moz-transition:.5s; -webkit-transition:.5s; transition: .5s;
    background-color: #141414; box-shadow: 0 0 .2em #00b7ff; }

.ytbe:hover { background-color: #FF0000; color: #fff; box-shadow: 0 0 .3em #FF0000; }
.gthb:hover { background-color: #5a32a3; color: #fff; box-shadow: 0 0 .3em #5a32a3; }
.istgrm:hover {
    background: #f09433; box-shadow: 0 0 .3em #f09433;
    background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%);
    color: #fff; }
.tlgrm:hover { background: #0088cc; color: #fff; box-shadow: 0 0 .3em #0088cc; }
.blggr:hover { background: #fc4f08; color: #fff; box-shadow: 0 0 .3em #fc4f08; }

.youtube, .github, .instagram, .telegram {
    padding:0.7em 0.65em; -o-transition:.5s; -ms-transition:.5s;
    -moz-transition:.5s; -webkit-transition:.5s; transition: .5s;
    background-color: #111111; color: #00b7ff ; border-radius: 10%; }

.youtube:hover { background-color: #FF0000; color: #fff; }
.github:hover { background-color: #5a32a3; color: #fff; }
.instagram:hover { background: #f09433; color: #fff;
    background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); }
.telegram:hover { background-color: #0088cc; color: #fff; }